*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#148341,#262626)
}
.container{
    padding:20px;
    width: 60%;
    box-shadow: 0 0 5px rgb(160, 160, 160);
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin:10px;
}
.container h1{
    background:linear-gradient(29deg,#000000,#751148);
    background-clip: text;
    color:transparent;
}
.input-box>label{
    width:60px;
    color:#fff;
    display: inline-block;
}
.input-box>p{
    color:#fff;
}
input{
    padding:5px;
    outline:none;
    width:100%;
    background:none;
    border:none;
    background: rgba(255,255,255,0.6);
}
input::-webkit-input-placeholder{
    color:#000;
}
#feedback{
    padding:10px;
    min-height:15vh;
    outline:none;
    width:100%;
    background:none;
    border:none;
    background: rgba(255,255,255,0.6);
}
.Feed{
    color:#fff;
}
@media only screen and (min-width:450px){
    .container{
        width:fit-content;
    }
    input{
        width:60%;
    }
}